
/* ****************** */
/* NAVBAR */
/* ****************** */

ul, li{
  list-style:none;
  list-style-type:none;
}

 /*************/
  /* Logo */
  /*************/
  .logo {
    
    padding-top: 23px;
    padding-left: 10px;
    position: fixed;
  }


  
/* Dekstop */
@media screen and (min-width: 700px){
.wrapper-1 span{
  display: none;
}

.overlay ul {
    float: right;
    padding-top: 50px;
    padding-right: 20px;
    top: 20px;
  }
  
 .overlay li {
    display: inline-block;
  }
  
 .overlay a {
    display: block;
    float: right;
    padding: 15px 15px;
    border-radius: 4px;
    letter-spacing: 0.7px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: black;
    outline: 0;
  }
  .overlay a:hover {
    background: #2B8FC4;
    text-decoration: none;
    color: white;
  }

  .overlay .closebtn {
   display: none;
  }

  .wrapper-1 span{
    display: none;
  }
}

  /* Mobile View */

@media screen and (max-width: 699px){

.wrapper-1 span{
  display: block;
  padding-top: 50px;
  position: fixed;
}
 
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    
  }
  
  .overlay a {
    padding: 8px;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
   
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
}


/* nav menu */

/* @media screen and (max-width: 1100px){
  .overlay ul {
    padding-left: 690px;
  }
}

@media screen and (max-width: 1050px){
  .overlay ul {
    padding-left: 590px;
  }
}

@media screen and (max-width: 950px){
  .overlay ul {
    padding-left: 550px;
  }
}

@media screen and (max-width: 900px){
  .overlay ul {
    padding-left: 490px;
  }
}

@media screen and (max-width: 850px){
  .overlay ul {
    padding-left: 450px;
  }
}

@media screen and (max-width: 800px){
  .overlay ul {
    padding-left: 390px;
  }
}

@media screen and (max-width: 750px){
  .overlay ul {
    padding-left: 340px;
  }
}

@media screen and (max-width: 700px){
  .overlay ul {
    padding-left: 420px;
  }
} */




/* hamburger */
@media screen and (max-width: 699px){
  .wrapper-1 span{
    padding-left: 550px;
  }
  .overlay ul {
    padding-left: 20px;
  }
}

@media screen and (max-width: 650px){
  .wrapper-1 span{
    padding-left: 500px;
}
}

@media screen and (max-width: 600px){
  .wrapper-1 span{
    padding-left: 450px;
  }
}

@media screen and (max-width: 550px){
    .wrapper-1 span{
      padding-left: 400px;
    }
}

@media screen and (max-width: 500px){
      .wrapper-1 span{
        padding-left: 350px;
      }
}
        
@media screen and (max-width: 459px){
        .wrapper-1 span{
          padding-left: 320px;
        }
}

